/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 
 *= require_tree .
 *= require_self
 */
header {
	height: 75px;
    background-color: rgb(88, 88, 30);
    padding-top: 1px;
}
 
  .fa {
    color: white ;
    font-size: 30px !important;
    margin: auto !important;
 }
 h1{
    color: white;
    font-weight: 700;
        padding-left: 16px;
}
.addTask {
    border-bottom: 1px solid green;
}
.addTask h2, .days h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: grey;
    opacity: 0.5;
}
.right h2 {
     text-align: center;
    font-weight: bold;
    color: brown;
    opacity:0.7;
    
}
@media only screen and (max-width: 991px){
.right {
    border-top: 1px solid green;

}
}
@media only screen and (min-width: 992px){
  .right {
    border-left: 1px solid green;
}  
}
.datepicker-orient-bottom {
  top: 234px !important; 
  left: 253px;
   z-index: 10;
    display: block;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
    top: -7px !important;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
    top: -6px !important;
}
.delayTime {
    font-size: 20px;
    color:grey;
    font-weight:bold;
    opacity:0.5;
}
.white {
    background-color: white;
}
.redC {
    color: red;
}
.greenC {
    color:green;
}
.grrenB {
    color:green;
}
.taskName {
    font-size: 22px;
    margin-left: 10px;
}
.taskTime {
    font-size: 20px;
    font-weight: bold;
}
.days {
    text-align: center;
}
